
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');

body {
  background: url("m.jpg");
  background-size: 100% 350%;
  background-repeat: no-repeat;
}

video {
	align: middle;
    width: 900px;
    height: auto;
}

p,h2,ul,a{
    font-family: Arial, Helvetica, sans-serif;
}

ul {
	list-style-type: circle;
}
li {
	margin: 10px;
}


#title1 {
  color: rgb(17,83,141);
  text-align: center;
  font-size: xx-large;
  font-family: 'Yanone Kaffeesatz', sans-serif;

  background-color: none;
  
  margin-bottom: 80px;
  position: relative;
}


#principal {
  margin-left: 7%;
  margin-left: 7%;
  margin-right: 7%;
  /*height: 30%;*/
}


#navmenu {
  background-color: rgb(17,83,141); /*azul oscuro*/
  margin-left: 7%;
  margin-right: 7%;
  padding-top: 12px;
  height: 35px;
  border-radius: 5px 5px 0px 0px;
}

#seccion {
  position: relative;
}

#juego {
  padding-top:20px;
  padding-bottom:1px;
}

#botones {

	margin: 25px;
}

#micanvas{
	background-color: #d3e86f; /*verde, se cambiara por una imagen portada*/
	margin-top: 25px;
	margin-bottom: 30px;

}

#myVideo{
	margin-top: 25px;
	width:500;
	height: 500;
}

#gif_aplauso{
	position: absolute;
	width: 100px;
	height: 100px;
	margin-left: 80%;
	margin-top: 80%;

}




/* cabecera */
	#logoUC3M {
		position: absolute;
		width: 100px;
		height: 100px;
		margin-left: 23%;
		margin-top: -28px;
		
		-webkit-animation-name: moving2; /*   Safari 4.0 - 8.0 */
		-webkit-animation-duration: 1.8s;   /* Safari 4.0 - 8.0 */
		animation-name: moving2
		animation-duration: 1.5s;
		animation-delay: 2.4s;
		animation-fill-mode: forwards;
	}

	#white_rect {

		width: 400px;
		height: 120px;
		background-color: white;
		margin-top: 20%;
		margin-left: 47%;
		border-radius: 10px 10px 10px 10px ;
		 
		position: absolute;
		-webkit-animation-name: moving1; /*   Safari 4.0 - 8.0 */
		-webkit-animation-duration: 1.8s;   /* Safari 4.0 - 8.0 */
		animation-name: moving1
		animation-duration: 1.5s;
		animation-delay: 1.4s;
		animation-fill-mode: forwards;

	}

	/* Safari 4.0 - 8.0 */
	@-webkit-keyframes moving1 {
		0%  {left:0px; top:0px;}
		35%  {left:0px; top:-420px;}
		55% {left:-200px; top:-420px;}
		80%{left:-130px; top:-420px;}
		100%{left:-160px; top:-420px;}
	}
	
	/* Standard syntax */
	@keyframes moving1 {
		0%  {left:0px; top:0px;}
		35%  {left:0px; top:-420px;}
		55% {left:-200px; top:-420px;}
		80%{left:-130px; top:-420px;}
		100%{left:-160px; top:-420px;}
	}
	
	
	/* Safari 4.0 - 8.0 */
	@-webkit-keyframes moving2 {
		0%  {left:0px; top:0px;}
		50%  {left:0px; top:-420px;}
		
	}
	
	/* Standard syntax */
	@keyframes moving2 {
		0%  {left:0px;}
		35%  {left:-160px; }
		65% {left:-100px; }
		100%{left:-120px; }
	}

	
	h1{
		padding-bottom: 10px;
	}

/* end cabecera */


.letra_comojugar{
	font-style: 'Comic Sans MS';
}

.div_white {
	background-color: white;
	border-radius: 10px 10px 10px 10px ;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10px;
	padding:10px;
	
	text-align: center;
}

.option_not_pulsed {
  background-color: rgb(17,83,141);  /*azul oscuro*/
  color: white;
  font-family:  Arial, Helvetica, sans-serif;
  font-weight:lighter;
  padding: 7px;
  font-size: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

.option_pulsed {
  background-color: rgb(76,189,234); /*azul claro*/
  color: black;
  font-family:  Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 25px;
  padding: 7px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

.window_pulsed {
  background-color: transparent; /*azul claro*/
  height: auto;
  /*z-index: 2;*/
  display: block;
  /*position: absolute;*/
  width: 100%;
  padding-top:25px;
  padding-bottom:10px;
  margin-bottom: 10px;

}

.window_not_pulsed {
  background-color: lightgray;
  height: auto;

  display: none;
  margin-top: 10px;
 
}

.black_margin{
	margin: auto;
	background-color: black;
	width: 900px;
}

.before_canvas_show{
  margin: auto;
  margin-top: 25px;
  background-image: url(sabatini.jpg);
  width: 900px;
  height: 505px;
  display: block;
}

.play_button{
  width: 200px;
  height: 50px;
  margin-top: 25%;
}

 .show {
	display: block;
	height: 505px;
	width: 900px;
}

.not_show {
	display: none;
}

.show_button {
	display: inline;
}

@font-face {
  font-family: Destructive;
  font-style: normal;
  font-style: normal;
  src: url(Destructive.ttf);
}


@media screen and (min-height: 600px) {
    #feedback-container {
	position: fixed;  /* menÃº feedback fijo sÃ³lo para pantallas grandes */
    }
    /*@@import "" */
 }
