@import url("https://fonts.googleapis.com/css?family=VT323");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  color: #fff;
  font-family: 'VT323', monospace;
  font-size: 20px;
  background: repeating-linear-gradient(to bottom, #0f0a1e 2px, #0f0a1e 6px, #140e29 6px, #140e29 10px);
}
#imgMario {
    position: absolute;
    width: 120px;
    height: 120px;
    margin-left: 77%;
    margin-top: 8.4%;

  }
  #imgPlanta {
    position: absolute;
    width: 150px;
    height: 150px;
    margin-left: 85%;
    margin-top: 6%;

  }
#logoPopstar {
    position: absolute;
    width: 150px;
    height: 150px;
    margin-left: 5%;
    margin-top: 5%;
    -webkit-animation-name: bounceIn; /*   Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s;   /* Safari 4.0 - 8.0 */
    animation-name: bounceIn;
    animation-duration: 2s;

  }
p{
  text-align: left;
}
#navmenu ul{
   list-style-type: none;
   text-align: center;
}

#navmenu li{
   display: inline;
   text-align: center;
   
}

#principal {
  margin-left: 7%;
  margin-left: 7%;
  margin-right: 7%;
  /*width: 80%;*/
}

#navmenu {
  cursor:pointer; cursor: hand;
  margin-left: 7%;
  margin-right: 7%;
  padding-top: 12px;
  height: auto;
  border-radius: 5px 5px 0px 0px;
}

.option_not_pulsed {
  border-style: solid;
  border-color: #fff;
  background-color: #140e29; 
  font-weight:lighter;
  font-size: 40px;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

.option_pulsed {
    border-style: solid;
  border-color: #fff;
  background-color: #000;
  font-weight: bold;
  font-size: 40px;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  margin-left: 0px;
  margin-right: 0px;
}
.window_pulsed {

  height: auto;
  /*z-index: 2;*/
  display: block;
  /*position: absolute;*/
  width: 100%;
  padding-top:25px;
  padding-bottom:10px;
  margin-bottom: 10px;

}
.window_not_pulsed {

  display: none;
  margin-top: 10px;
 
}
.div_claro {

  background-color: #140e29;
  border-radius: 10px 10px 10px 10px ;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10px;
  padding:10px; 
  text-align: center;
}

.boton_pausa{
   
  width: 200px;
  height: 50px;
  
  
}

	

	

.margen_negro{
	
    margin: auto;
    background-color: black;
    width: 900px;

}

.no_mostrar {
	display: none;
}


#titulo{
  background-color: none;
  background-image: url(../src/pacman.gif); 
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 12px;
}
#title1 {
  top: -7px;
  padding-top: 7%;
  font-size: 400%;
  background-color: none; 
  margin-bottom: auto;
  position: relative;
  color: #fff;
  width: 100%;
  text-align: center;
  margin: auto;
  line-height: 40px;
  letter-spacing: 5px;
  text-shadow: -2px 0 0 #fdff2a, -4px 0 0 #df4a42, 2px 0 0 #91fcfe, 4px 0 0 #4405fc;
  animation: blink 1s steps(4, start) infinite;
}
@-moz-keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}
@-o-keyframes blink {
  to {
    visibility: hidden;
  }
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}



input[type=button]{
  color: #fff;
  font-family: 'VT323', monospace;
  font-size: 50px;
  text-align: center;

  
}
[class*="push"] {
  position: relative;
  display: inline-block;
  width: 240px;
  height: 240px;
  border: 0;
  margin: 1em;
  outline: none;
  background-color: #c2290a;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 200ms;
  transition: -webkit-box-shadow 200ms;
  transition: box-shadow 200ms;
  transition: box-shadow 200ms, -webkit-box-shadow 200ms;
}

.push--flat {
  -webkit-box-shadow: inset 0 7.5px 0 #da2e0b, inset 0 -7.5px 0 #aa2409, inset 0 0 0 7.5px #b32609, inset 0 0 0 20px #c2290a, inset 0 0 0 24px #611405, inset 0 0 0 26.0869565217px black, inset 0 0 0 32px rgba(247, 133, 110, 0.7), inset 0 0 0 43.6363636364px #c2290a, inset 0 96px 32px #aa2409, inset 0 0 24px 40px #911f08, 0 12px 0 rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 7.5px 0 #da2e0b, inset 0 -7.5px 0 #aa2409, inset 0 0 0 7.5px #b32609, inset 0 0 0 20px #c2290a, inset 0 0 0 24px #611405, inset 0 0 0 26.0869565217px black, inset 0 0 0 32px rgba(247, 133, 110, 0.7), inset 0 0 0 43.6363636364px #c2290a, inset 0 96px 32px #aa2409, inset 0 0 24px 40px #911f08, 0 12px 0 rgba(0, 0, 0, 0.3);
}
.push--flat:after {
  content: '';
  position: absolute;
  bottom: 12px;
  left: 24px;
  display: block;
  width: 192px;
  height: 192px;
  border: 16px solid rgba(0, 0, 0, 0.3);
  border-width: 0 0 16px;
  border-radius: 50%;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}
.push--flat:active, .push--flat.is-pushed {
  -webkit-box-shadow: inset 0 7.5px 0 #da2e0b, inset 0 -7.5px 0 #aa2409, inset 0 0 0 7.5px #b32609, inset 0 0 0 20px #c2290a, inset 0 0 0 24px #611405, inset 0 0 0 28.2352941176px black, inset 0 0 0 32px rgba(247, 133, 110, 0.2), inset 0 0 0 43.6363636364px #b32609, inset 0 96px 32px #9b2108, inset 0 0 24px 40px #791a06, 0 12px 0 rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 7.5px 0 #da2e0b, inset 0 -7.5px 0 #aa2409, inset 0 0 0 7.5px #b32609, inset 0 0 0 20px #c2290a, inset 0 0 0 24px #611405, inset 0 0 0 28.2352941176px black, inset 0 0 0 32px rgba(247, 133, 110, 0.2), inset 0 0 0 43.6363636364px #b32609, inset 0 96px 32px #9b2108, inset 0 0 24px 40px #791a06, 0 12px 0 rgba(0, 0, 0, 0.3);
  background-color: #b8270a;
}
.push--flat:active:after, .push--flat.is-pushed:after {
  bottom: 28px;
  border-width: 0;
}

.align_izq{
  text-align: left;
}
#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}







[class*="push1"] {
  color: #fff;
  font-family: 'VT323', monospace;
  font-size: 110%;
  text-align: center;
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  border: 0;
  margin: 1em;
  outline: none;
  background-color: #c2290a;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 200ms;
  transition: -webkit-box-shadow 200ms;
  transition: box-shadow 200ms;
  transition: box-shadow 200ms, -webkit-box-shadow 200ms;
}

.push1--flat {
  -webkit-box-shadow: inset 0 7.5px 0 #da2e0b, inset 0 -7.5px 0 #aa2409, inset 0 0 0 7.5px #b32609, inset 0 0 0 20px #c2290a, inset 0 0 0 24px #611405, inset 0 0 0 26.0869565217px black, inset 0 0 0 32px rgba(247, 133, 110, 0.7), inset 0 0 0 43.6363636364px #c2290a, inset 0 96px 32px #aa2409, inset 0 0 24px 40px #911f08, 0 12px 0 rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 7.5px 0 #da2e0b, inset 0 -7.5px 0 #aa2409, inset 0 0 0 7.5px #b32609, inset 0 0 0 20px #c2290a, inset 0 0 0 24px #611405, inset 0 0 0 26.0869565217px black, inset 0 0 0 32px rgba(247, 133, 110, 0.7), inset 0 0 0 43.6363636364px #c2290a, inset 0 96px 32px #aa2409, inset 0 0 24px 40px #911f08, 0 12px 0 rgba(0, 0, 0, 0.3);
}
.push1--flat:after {
  content: '';
  position: absolute;
  bottom: 12px;
  left: 24px;
  display: block;
  width: 120px;
  height: 120px;
  border: 8px solid rgba(0, 0, 0, 0.3);
  border-width: 0 0 8px;
  border-radius: 50%;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}
.push1--flat:active, .push1--flat.is-pushed {
  -webkit-box-shadow: inset 0 7.5px 0 #da2e0b, inset 0 -7.5px 0 #aa2409, inset 0 0 0 7.5px #b32609, inset 0 0 0 20px #c2290a, inset 0 0 0 24px #611405, inset 0 0 0 28.2352941176px black, inset 0 0 0 32px rgba(247, 133, 110, 0.2), inset 0 0 0 43.6363636364px #b32609, inset 0 96px 32px #9b2108, inset 0 0 24px 40px #791a06, 0 12px 0 rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 7.5px 0 #da2e0b, inset 0 -7.5px 0 #aa2409, inset 0 0 0 7.5px #b32609, inset 0 0 0 20px #c2290a, inset 0 0 0 24px #611405, inset 0 0 0 28.2352941176px black, inset 0 0 0 32px rgba(247, 133, 110, 0.2), inset 0 0 0 43.6363636364px #b32609, inset 0 96px 32px #9b2108, inset 0 0 24px 40px #791a06, 0 12px 0 rgba(0, 0, 0, 0.3);
  background-color: #b8270a;
}
.push1--flat:active:after, .push1--flat.is-pushed:after {
  bottom: 28px;
  border-width: 0;
}

@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
